.suggested-prompt {
    border-radius: 5px;
    padding: 20px;
    display: flex;
    text-align: center;
    gap:12px;
    justify-content: center;
    flex-wrap: wrap;
}

.prompt-text {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.suggestion-buttons {
    display: flex;
    justify-content: center;
}

.suggestion-button {
    color: #333;
    border: none;
    width: 150px;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.suggestion-button:hover {
    background-color: #ccc;
}
